# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# PyTorch model files
*.pt
*.pth
